.footer {
  height: 642px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  align-items: center;
  padding-top: 25px;

  .footerInfoRow {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .footerPartners {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    .footerPartnersImg {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 9px;
    }
  }
  .footerPartners::before,
  .footerPartners::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 5px;
  }

  .footerContacts {
    display: flex;
    width: 1020px;
    align-items: center;
    padding-top: 41px;

    .footerLogo {
      width: 165px;
      height: 31px;
      margin-top: 20px;
    }

    .footerContactsText {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.2px;
      padding: 16px 0 0 162px;

      .footerContactsTextYear {
        padding: 0 11px 0 7px;
      }
    }

    .footerContactsImgContainer {
      display: flex;
      align-items: center;
      padding: 18px 0 0 159px;

      .footerContactsImg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 13px;
      }
    }
  }

  .footerPartnerSmall {
    display: flex;
    align-items: center;
    padding-top: 56px;
    position: relative;

    .footerPartnerSmallImg {
      display: flex;
      align-items: center;
      padding: 0 9px;
    }
    .footerPartnerSmallImgStamp {
      position: absolute;
      right: -120px;
    }
  }
}
