@mixin textCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .mainPageTitile {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    height: 30px;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .mainPageEvent {
    display: flex;
    flex-direction: column;

    .EventTitle {
      height: 30px;
      display: flex;
      background-color: #0a9f30;
      align-items: center;
      margin-bottom: 10px;

      .EventTitleImg {
        padding: 2px 0 0 13px;
      }

      .EventTitleText {
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        padding-left: 10px;
        letter-spacing: -0.2px;
      }
    }
  }
}
